

<!DOCTYPE html>
<html>
   <head>

      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Biddlu project manager">
      <meta name="author" content="Biddlu find projects">
      <link rel="icon" href="../../favicon.ico">

      <title>Biddlu</title>

      <!-- Less Css-->
      <link rel="stylesheet"  href="assets/less/css/style.css">
      <link rel="stylesheet"  href="assets/less/bootstrap.css" >
      <link rel="stylesheet"  href="assets/css/font-awesome.css" >

      <!--ng-tags-input for autocomplete -->
      <link rel="stylesheet"  href="assets/css/token.css" />
      <link rel="stylesheet"  href="assets/css/ng-tags-input.min.css" />


      
      <script type="text/javascript" src="assets/js/less.js"></script>
      <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
      <!--script type="text/javascript" src="assets/js/jquery.zclip.js"></script-->
      <script type="text/javascript" src="assets/js/bootstrap.js"></script>
      <script type="text/javascript" src="assets/js/index.js"></script>   
      <script type="text/javascript" src="assets/js/jquery.nicescroll.min.js"></script>
      <script type="text/javascript" src="assets/js/scrolling.js"></script>
      <script type="text/javascript" src="assets/js/jquery.accordion.js"></script>
     

   


</style>
      

   </head>
   <body ng-app="myApp">

   <div class="container-fluid proj_add" >
       <div  ng-controller="userCtrl" ng-init="isauthorised()" id="menubar" style="display:none;">
          <div class="col-lg-2 col-sm-2" id="left">
             <div class="leftbar">
                <div class="logo">
                  <a href="#/projectlist" > <img src="assets/img/logo_a.png" alt="logo"></a>
                </div>
                <div class="search_bx">
                   <input type="text" class="search_txt" name="searchbox" placeholder="Search"><input class="search_btn" type="button" name="btn">
                </div>
                
                <div class="user">
                   <img src="assets/img/man.png" alt="user_img"><strong> {{name}}</strong>

                </div>
                
                <div id="main-menu" class="page-sidebar">
   
                   <div id="main-menu-wrapper" class="page-sidebar-wrapper">
                       <ul class="" role="menu" aria-labelledby="dropdownMenu" >
                        
                         <li class="start"><a href="#/projectlist" id="search"> Search <span class="arr_rght"><i class="fa fa-search"></i></span></a></li>
                 
                         <li class="dropdown-submenu" ng-controller="bidCtrl">
                           <a href="#/recentbids" id="bids">Recent Bids <span class="arr_rght"><i class="fa fa-cloud-upload"></i></span></a>
                           <ul class="dropdown-menu">
                            <li><a href="" ng-click = "getTodaysBids()" id="todayBids">Today <span class="arr_rght"><i class="fa fa-calendar-o"></i></span></a></li>
                            <li><a href="" ng-click = "getLastSevendaysBids()" id="previousBids">Previous 7 days  <span class="arr_rght"><i class="fa fa-calendar"></i></span></a></li>
                          </ul>
                        </li>

                        
                         <li class="dropdown-submenu" ng-controller="leadCtrl">
                          <a href="#/recentleads" id="leads">Recent Leads <span class="arr_rght"><i class="fa fa-sort-amount-asc"></i></span></a>
                          <ul class="dropdown-menu">
                           <li><a href="" ng-click = "getTodaysLeads()" id="leadsToday">Today<span class="arr_rght"><i class="fa fa-calendar-o"></i></span></a></li>
                           <li><a href="" ng-click = "getLastSevendaysLeads()" id="leadsPrevious">Previous 7 days<span class="arr_rght"><i class="fa fa-calendar"></i></span></a></li>
                         </ul>
                        </li>
                        
                        <li class="start"><a href="#/addproject"  id="addProject">Add Project<span class="arr_rght"><i class="fa fa-plus"></i></span></a></li>                        
                        
                      </ul>  
                    </div>
              </div>
             </div>
             
              <div class="left_foot fxd-lft">
              <div class="dropdown">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {{name}} <span class="caret"></span>
                   </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();">Account Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" ng-click="logout()">Logout</a></li>
                      </ul>
                </div>
              </div>
             
          </div>
         
         
          </div>
    
                <div data-ng-view>
                 
                   
               
                   </div>
       </div> 





    <!-- Angular JS Implemented here -->


      <script data-require="angular.js@1.2.x" type="text/javascript" src="assets/js/angular.js" 
      data-semver="1.2.15"></script>
   <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="assets/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
  <script src="assets/js/jquery.bootpag.min.js"></script>

      <script type="text/javascript" src="assets/js/ng-tags-input.min.js"></script> 
      <script type="text/javascript" src="assets/js/angular-route.min.js"></script>
      <script type="text/javascript" src="libs/angular/ZeroClipboard.min.js"></script>
      <script type="text/javascript" src="libs/angular/ng-clip.js"></script>
      <script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
      <script type="text/javascript" src="libs/lodash/dist/lodash.min.js"></script>
      <script type="text/javascript" src="libs/underscore.string/dist/underscore.string.min.js">
      </script>
    
      <script type="text/javascript" src="app/app.js"></script>
      <script type="text/javascript" src="app/routing/routes.js"></script>
      <script type="text/javascript" src="app/constant/constant.js"></script>

      <script type="text/javascript" src="app/controllers/projectCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/userCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/keywordCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/workroomCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/DeveloperCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/bidCtrl.js"></script>
      <script type="text/javascript" src="app/controllers/leadCtrl.js"></script>

      <script type="text/javascript" src="app/Script/script.js"></script>

      <script type="text/javascript" src="app/factory/projects/ProjectService.js"></script>
      <script type="text/javascript" src="app/factory/users/UserService.js"></script>
      <script type="text/javascript" src="app/factory/keywords/KeywordService.js"></script>
      <script type="text/javascript" src="app/factory/keywords/projectkeyword.js"></script>
      <script type="text/javascript" src="app/factory/workroom/WorkroomService.js"></script>
      <script type="text/javascript" src="app/factory/developers/DeveloperService.js"></script>
      <script type="text/javascript" src="app/factory/workroom/BidsService.js"></script>
      <script type="text/javascript" src="app/factory/workroom/LeadService.js"></script>
      <script type="text/javascript" src="app/factory/workroom/ClientService.js"></script>
      <script type="text/javascript" src="app/factory/workroom/ClientService.js"></script>

     
   

      <script type="text/javascript" src="app/filters.js"></script>
      <script type="text/javascript" src="app/directives.js"></script>

   </body>
</html>

