<div ng-controller="bidCtrl"  >
  <div>
  <!-- <div ng-controller="projectCtrl" data-ng-init='BindProject()'> -->
  
</div> 
  <!-- First Panel-->
<div class="col-lg-6 col-sm-6" id="mid"  ng-init = "getAllBids()" >
  <div class="mid-box">
    <h4 class="mid_lead">
    <div class="srch-lead">
      <input type="text" class="srch-lead-new" ng-model = "bidsText"   name="search-lead" placeholder="Filter Bids" id="srch_lead" ng-change="set_paging_withStatus()"> 
     
        <a   data-toggle="tooltip" data-placement="left" style="margin-left:15px" title="Add Bid" id="add_bid" ng-click ="filterbid();"><i class="fa fa-plus"></i></a>
   <a href="" data-toggle="tooltip" style="margin-left:15px" data-placement="left" title="Notification" id="add_project"> <i class="fa fa-bell"></i></a>
    
  
      </div>
    </h4>
    <div class="clearfix"></div>
    <div class="lead-heading"><h4>Recent Bids </h4>
    </div>
     <!-- Nav tabs -->
    <div id="center_pane__contents" class="column-contents2 known-list" >
      <ul class="nav nav_list nav-tabs" role="tablist">
        <li class="active"><a data-target="#list" ng-click = "showmybidspaging()" role="tab" data-toggle="tab"><i class="fa fa-list-ul"></i> My Bids ({{myBidsLen}})</a></li>
        <li><a data-target="#task" ng-click = "showallbidspaging()"role="tab" data-toggle="tab">All Bids ({{totalBids}}) </a></li>
        <li class="img_rght"><a role="tab" data-toggle="tab">New <span class="caret"></span> </a></li>
        <div id="content1"></div>
        <div id="mybidscontent"></div>           
      </ul>  
    </div>

    <!-- Tab panes -->                
    <div class="tab-content nav_cont">
      <div class="tab-pane active" id="list">
      <div id="mybidslist"  style="margin-top:100px;width:100%;color:red;font:20px arial;display:none;text-align: center"  ng-show="bidsText"> No record found with this Bid url. </div>
        <div id="listscroll">
          <table width="100%" border="0" ng-repeat = "bids in specificBids | filter : bidsText" >
            <tr>
              <td width="3%" style="padding: 0;text-align: center;">{{$index+count}}</td>
              <td width="3%">

              
              <span class="lg_lead" ng-if="bids.JobUrl.indexOf('www.odesk.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Odesk"  src="assets/img/odesk.png" alt="odesk"></span>
               <span class="lg_lead" ng-if="bids.JobUrl.indexOf('www.elance.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Elance"  src="assets/img/elance.jpg" alt="odesk"></span>
              </td>
              <td width="4%" height="50px"><span class="dev_lead"><img data-toggle="tooltip" data-placement="left" title="Developer" src="assets/img/man.png" alt="user"></span></td>
              <td width="88%">
              
              <a style="color:#333333" data="{{bids.JobUrl}}" ng-click="Bind_Bids_Data(bids.JobUrl)"  id="{{bids.JobUrl}}">{{bids.JobUrl | limitTo: 70}}{{bids.JobUrl.length > 70 ? ' ...........' : ''}}

              </a> 
                <span class="img_rght del_cont" ng-if="bids.Status=='Applying'">
                  <span class="spin" >
                  <script type="text/javascript"> $(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
                    <i class="fa-li fa fa-spinner fa-spin" ng-click = "ChangeStatus(bids.JobId,bids.Status,bids.flag)" data-toggle="tooltip" data-placement="left" title={{bids.Status}}></i>
                  </span> 
               
                    <a class="btn view_task_btn"  data-placement="left" title="View Task" ng-mouseover= "tasksModal($event,bids.JobUrl,bids.JobId,bids.date)" id="url_{{$index}}" > <i class="fa fa-ellipsis-h"></i> </a>
                </span>
                 <span class="img_rght del_cont" ng-if="bids.Status=='Applied'">
                  <span style="margin:0px 59px 0px 0px;cursor: pointer">
 <script type="text/javascript"> $(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
                  <img  data-toggle="tooltip" data-placement="left" title={{bids.Status}}  src="assets/img/applied.png" ng-click = "ChangeStatus(bids.JobId,bids.Status,bids.flag)" alt="status">
                   

                  </span>  
                    <a class="btn view_task_btn"  data-placement="left" title="View Task" ng-mouseover = "tasksModal($event,bids.JobUrl,bids.JobId,bids.date)" id="url_{{$index}}"> <i class="fa fa-ellipsis-h"></i> </a>
                </span>
              </td>


            </tr>
           
            
          </table>


        </div>  

        
      </div>
      <div class="tab-pane td-pd" id="task">
       <div id="allbidslist"  style="margin-top:100px;width:100%;color:red;font:20px arial;display:none;text-align: center"  ng-show="bidsText" >No record found with this Bid url. </div>
        <div id="listscroll2">
          <table width="100%" border="0" style="table-layout:fixed;" ng-repeat = "bids in allbids | filter : bidsText">
            <tr>
              <td width="8%" style="padding: 0;text-align: center;">{{$index+count}}</td>
              <td width="6%" height="50px">
                
  <span class="lg_lead" ng-if="bids.JobUrl.indexOf('www.odesk.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Odesk"  src="assets/img/odesk.png" alt="odesk"></span>
<span class="lg_lead" ng-if="bids.JobUrl.indexOf('www.elance.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Elance"  src="assets/img/elance.jpg" alt="odesk"></span>

              </td>
              <td width="6%"><span class="dev_lead"><img data-toggle="tooltip" data-placement="left" title="Developer" src="assets/img/man.png" alt="user"></span></td>
              <td width="88%">


              <a style="color:#333333" data="{{bids.JobUrl}}" ng-click="Bind_Bids_Data(bids.JobUrl)"  id="{{bids.JobUrl}}">{{bids.JobUrl | limitTo: 55}}{{bids.JobUrl.length > 55? ' ...........' : ''}}</a><span class="img_rght del_cont"> <!--a class="btn view_task_btn"  data-placement="left" title="View Task" data-toggle="modal" data-target="#myModal"> <i class="fa fa-ellipsis-h"></i> </a-->
              </span>
              </td>
            </tr>
          </table>  
               
        </div>
      </div>
    </div>
</div>     
</div>
<div id = "LoaderDiv">
</div>

<!-- Second Panel-->          
<div class="col-lg-4 col-sm-4" id="right" >
  <div class="right-box" >    
    <h4>Job Title</h4>
    <div class="right_subheading">
      <img src="assets/img/odesk.png" style="vertical-align:middle">&nbsp;&nbsp;&nbsp;
      <span class="dev_lead"><img data-toggle="tooltip" data-placement="left" title="Developer" src="assets/img/man.png" alt="user"></span>&nbsp;&nbsp;&nbsp; 41&nbsp;&nbsp;&nbsp; 
     
      <div class="dropdown">
        <a href="" data-toggle="dropdown">
          <img src="assets/img/attachement.png" alt="attachment"> 
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Computer</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Dropbox</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Google Drive</a></li>
        </ul>
      </div>    
      <span class="img_rght">{{todayDate}} &nbsp;&nbsp;&nbsp; {{Time}}</span>
    </div>

    <form class="rec_bds_frm" id = "bidform" role="form" action=""  method="post" novalidate>
      <div class="form-group url-proj" ng-mouseleave="hidetasksModal()">
        <label for="inputEmail3" class="col-sm-3 control-label">Bidder Name:</label>
        <div class="col-sm-9"> 
         <div class="wrapper-ninteen">
          <input type="text" id="name" ng-model="biddername"  class="form-control" disabled /> 
         </div>
        </div>
      </div>
                  
      <div class="form-group title-proj">
        <label for="inputEmail3" class="col-sm-3 control-label">Job Url:</label>
        <div class="col-sm-9"> 
        <input type="text" id="joburl" ng-model="url" ng-blur="getJobPortalAndId();" class="form-control"  placeholder="Enter a valid url" ng-trim="true"/>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Job Portal:</label>
        <div class="col-sm-9"> 
          <div class="wrapper-ninteen">
            <input type="text" id="jobportal" ng-model = "portal" class="form-control" readonly/>
         </div> 
        </div>
      </div>
                      
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Job Id:</label>
        <div class="col-sm-9"> 
          <input type="text" id="jobid" ng-model = "jobid" class="form-control" readonly/>
        </div>
      </div>
     
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Is Invite:</label>
        <div class="col-sm-9"> 
          <input type="radio" ng-model="selectedinvite" name="radiog_dark" id="radio4" class="css-checkbox" value="Yes"/><label for="radio4" class="css-label radGroup2">Yes</label>
          <input type="radio" ng-model="selectedinvite" name="radiog_dark" id="radio5" class="css-checkbox" value="No" /><label for="radio5" class="css-label radGroup2">No</label>
        </div>
      </div>
                  
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Technology:</label>
        <div class="col-sm-9">
          <input type="radio" ng-model="tech" name="radiog_dark_1" id="radio6" class="css-checkbox" value="Mobile"/><label for="radio6" class="css-label radGroup2">Mobile</label>
          <input  type="radio" ng-model="tech" name="radiog_dark_1" id="radio7" class="css-checkbox" value="Web" /><label for="radio7" class="css-label radGroup2">Web</label>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label" required>Status</label>
        <div class="col-sm-9"> 
        <div class="wrapper-ninteen">
            <select  class= "form-control" id="status" name="status" ng-model="selectedstatus" ng-options = "stat.value as stat.name for stat in Status" ng-change="removestatusvalidation();">
              <option value=''> Please select </option>
            </select>
            <br/>
            <br/>
          </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9"> <button id="send" ng-click = "SaveBid()" type="submit" class="btn btn-primary">Save</button></div>
      </div>
    </form>
    </div>        
  </div>
</div>

<!-- Third Panel-->          
<!-- Modal -->
<div class="modal view_task2 fade"   id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <ul>
          <li><a href="" ng-click = "lead()" data-toggle="tooltip" data-placement="bottom" title="ConvertToLead"><i class="fa fa-user"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" ng-click = "OpenBid()" title="Open Url" id="showclock"><i class="fa fa-link"></i></a></li>
          <li><a href="" ng-click = "DeleteBid()" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a></li> 
          <input type="hidden" id= "hidjob" name="hidbtn" ng-model="hidjob" value="{{hidjob}}">
           <input type="hidden" id= "hidurl" name="hidurl" ng-model="hidurl" value="{{hidurl}}">
        </ul>  
      </div> 
    </div>
  </div>
</div>

<!-- Fourth Panel-->
<div id="myModal1" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button> 
        <h3 id="text" style="color:green;"><font size="3">Welcome to This section. Go ahead with the lead information form</font></h3>
        <h3 id="url"><a href="{{hid}}" target="_blank"><font size="3">{{hid}}</font></a></h3>    
      </div>
      <div class="modal-body">
        <div class="col-lg-4">
          <fieldset>
            <legend>Job</legend>
            Job Title 
            <span style="color:red;">*</span>:<input type="text" ng-model="jobtitle" id="title" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-blur="remove_title_validation()" required/><br><br>
            Application URL 
            <span style="color:red;">*</span>:<input type="text" ng-blur="remove_appurl_validation()" ng-model="appurl" id="appurl" class="form-control"  required/><br><br>
            Message Url:
            <input type="url" ng-model="msgurl" id="msgurl" ng-blur="remove_msgurl_validation()" class="form-control" ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"/>
            <br><br>
            No. of Interviews 
            <span style="color:red;">*</span>:<input type="text" ng-blur="remove_interview_validation()" ng-model="interviews"  id="interview" class="form-control"   required/><br><br>
            Bid Amount 
            <span style="color:red;">*</span>:<input type="text" step="any" ng-model="amount"  id="bidamount" class="form-control" ng-blur="remove_bidamount_validation()"  required/><br><br>
          </fieldset>
        </div>

        <div class="col-lg-4">
          <fieldset>
            <legend>Client</legend>
            Client Name 
            <span style="color:red;">*</span>:<input type="text" ng-model="clientname" id="cname" class="form-control" ng-blur="remove_cname_validation()"  required/><br><br>
            Client Email:
            <input type="email" ng-model="clientemail" id="clientemail" class="form-control" ng-blur="remove_clientemail_validation()" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/"/><br><br>
            Client Budget 
            <span id="SpanClientBudget" style="color:red;">*</span>:<input type="text" step="any" ng-blur="remove_budget_validation()" ng-model="clientbudget" id="budget" class="form-control" min="0" required/><br><br>
            Client Skype:
            <input type="text" ng-model="clientskype" id="skype" class="form-control" ng-pattern="/^[a-zA-Z ]*$/"/><br><br>
            Client History: 
            <span style="color:red;">*</span>:
            <textarea id="clienthistory" type="text" ng-blur="remove_clienthistory_validation()" ng-model="history" class="form-control" required >
            </textarea>
          </fieldset>
        </div>

        <div class="col-lg-4">
          <fieldset>
            <legend>Lead</legend>
          Lead Type <span style="color:red;">*</span>
            <select  class= "form-control" ng-model="leadtype" name="leadtype" id="leadtype" ng-options = "type.value as type.name for type in Type" ng-change="remove_leadtype_validation()" required>
              <option value=''> Please select </option>
            </select> <br><br>
            Current Status of lead <span style="color:red;">*</span>:
            <textarea type="text" id="statuslead" ng-model="status" ng-blur="remove_statuslead_validation()" class="form-control" required>
            </textarea>
            <input type="hidden" name="hid" ng-model="hid" value="{{hid}}">
            <input type="hidden" id= "hidbtn" name="hidbtn" ng-model="hidbtn" value="{{hidbtn}}">
          </fieldset>
        </div>

        <div class="clearfix"></div>
        <span style="color:red" id = "reqFieldsMsg">{{reqFieldsMsg}}</span>
        <div class="modal-footer" >
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" required>Close</button>
        <button  type="submit" id= "savebtn" ng-click = "ConvertToLead(hid,hidbtn)" class="btn btn-primary">
        Save </button>
      </div>
    </div>       
  </div>
</div>
</div>
</div>
</div> 