<div class="col-lg-6 col-sm-6" id="mid" ng-init="getAllLeads()">
    <div class="mid-box">
        <h4 class="mid_lead">
        <!-- <div class="srch-lead">
        <input type="text" class="srch-lead-new" ng-model = "leadText" name="search-lead" placeholder="Filter Leads"> 
         <a  href="#/addproject" data-toggle="tooltip" style="margin-left:15px" data-placement="bottom" title="Add Project" id="add_project"><i class="fa fa-plus"></i></a>
   <a href="" data-toggle="tooltip" data-placement="left" style="margin-left:15px" title="Notification" id="add_project"> <i class="fa fa-bell"></i></a>
        </div> -->
        </h4>
        <div class="clearfix"></div>
        <div class="lead-heading">
            <h4>Recent Leads </h4>
        </div>
        <!-- Nav tabs -->
        <div id="center_pane__contents" class="column-contents2 known-list">
            <ul class="nav nav_list nav-tabs" role="tablist">
                <li class="active"><a ng-click="showmyleadspaging()" data-target="#list" role="tab" data-toggle="tab"><i class="fa fa-list-ul"></i> My Leads ({{myLeadsLen}})</a>
                </li>
                <li><a data-target="#task" ng-click="showallleadspaging()" role="tab" data-toggle="tab">All Leads ({{totalLeads}}) </a>
                </li>
                <li class="img_rght"><a role="tab" data-toggle="tab">New <span class="caret"></span>  </a>
                </li>
                <!--ul class="pagination">
                <li><a >&laquo;</a></li>
                <li ng-repeat = "num in number"><a ng-click = "getAllLeads(num.index)" >{{num.index}}</a></li>
                <!-- <li><a ng-click = "getAllBids(2)">2</a></li>
                <li><a ng-click = "getAllBids(5)">3</a></li>
                <li><a ng-click = "getAllBids(4)">4</a></li>
                <li><a ng-click = "getAllBids(5)">5</a></li> >
                <li><a >&raquo;</a></li>
              </ul-->
                <div id="content"></div>
                <div id="myleadscontent"></div>
            </ul>
            <!-- Tab panes -->

            <div class="tab-content nav_cont">
                <div class="tab-pane active" id="list">
                    <div id="listscroll">
                        <table width="100%" border="0" ng-repeat="leads in specificLeads | filter : leadText">
                            <tr>
                                <td width="3%">{{$index+count}}</td>
                                <td width="5%">  <span class="lg_lead" ng-if="leads.JobUrl.indexOf('www.odesk.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Odesk"  src="assets/img/odesk.png" alt="odesk"></span>
<span class="lg_lead" ng-if="leads.JobUrl.indexOf('www.elance.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Elance"  src="assets/img/elance.jpg" alt="odesk"></span>
                                </td>
                                <td width="4%"><span class="dev_lead"><img data-toggle="tooltip" data-placement="left" title="Developer" src="assets/img/man.png" alt="user"></span>
                                </td>
                                <td width="88%"><a href="" ng-click="editLead(leads.JobId)">

                                {{leads.JobUrl | limitTo: 90}}{{leads.JobUrl.length > 90 ? ' ...........' : ''}}
                                </a> <span class="img_rght del_cont"><a href="javascript:void();" data-toggle="tooltip" ng-click = "DeleteLead(leads.JobId)" data-placement="bottom" title="Delete Lead"> <i class="fa fa-trash-o"></i></a> </span>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>
                <div class="tab-pane" id="task">
                    <div id="listscroll2">
                        <table width="100%" border="0" ng-repeat="leads in allleads | filter : leadText">
                            <tr>
                                <td width="3%">{{$index+count}}</td>
                                <td width="5%">  <span class="lg_lead" ng-if="leads.JobUrl.indexOf('www.odesk.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Odesk"  src="assets/img/odesk.png" alt="odesk"></span>
<span class="lg_lead" ng-if="leads.JobUrl.indexOf('www.elance.com') >= 0"><img class="fa-spin" data-toggle="tooltip" data-placement="left" title="Elance"  src="assets/img/elance.jpg" alt="odesk"></span>
                                </td>
                                <td width="4%"><span class="dev_lead"><img data-toggle="tooltip" data-placement="left" title="Developer" src="assets/img/man.png" alt="user"></span>
                                </td>
                                <td width="88%"> {{leads.JobUrl | limitTo: 90}}{{leads.JobUrl.length > 90 ? ' ...........' : ''}}<span class="img_rght del_cont"><!--a href="javascript:void();" data-toggle="tooltip" data-placement="left" title="Delete Lead">   <i class="fa fa-trash-o"></i></a-->         
                                  </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="col-lg-4 col-sm-4" id="right">
    <div class="right-box">
      <h4>{{MainJobtitle}}</h4>
      <div class="right_subheading">
        <img data-toggle="tooltip" data-placement="left" title="Odesk" src="assets/img/odesk.png" style="vertical-align:middle"> &nbsp;&nbsp;&nbsp;41&nbsp;&nbsp;&nbsp;
        <div class="dropdown">
          <a href="" data-toggle="dropdown">
            <img src="assets/img/attachement.png" alt="attachment">
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Computer</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Dropbox</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="">Attach From Google Drive</a>
            </li>
          </ul>
        </div>
        <span class="img_rght">{{todayDate}}&nbsp;&nbsp;&nbsp;{{Time}}</span>
      </div>

      <div id="add_proj_form">
        <!-- accordian form -->
        <div class="accordion ccordion-open" id="nav-section1">
          <h3>Job</h3>
        </div>
        <div class="accordion_dv">
          <div class="form-list" ng-init="bindjobtitle()">
            <ul>
              <li>
                <input type="text" class="form-control" id="jobtitle" ng-blur="remove_jobtitle_validation()" placeholder="Job Title" ng-model="jobtitle" ng-pattern="/^[a-zA-Z0-9 ]*$/" required>
              </li>
              <li>
                <input type="text" class="form-control" id="appurl" placeholder="Application URL" ng-model="appurl"   ng-blur="remove_appurl_validation()" required>
              </li>
              <li>
                <input type="url" class="form-control" id="msgurl" ng-blur="remove_msgurl_validation()" placeholder="Message URL" ng-model="msgurl"  >
              </li>
              <li>
                <input type="text" class="form-control" id="noofinterview" placeholder="No. of Interviews" ng-model="interviews" ng-blur="remove_interview_validation()"   required>
              </li>
              <li>
                <input type="text" class="form-control" id="bidamt" ng-blur="remove_bidamt_validation()" placeholder="Bid Amount" ng-model="amount"   required>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion" id="nav-section1">
          <h3>Client </h3>
        </div>
        <div class="accordion_dv">
          <div class="form-list">
            <ul>
              <li>
                <input type="text" class="form-control" id="cltname" ng-blur="remove_cltname_validation()"  placeholder="Client Name" ng-model="clientname" ng-pattern="/^[a-z A-Z]*$/" required>
              </li>
              <li>
                <input type="email" class="form-control" id="inputemail" placeholder="Client Email" ng-model="clientemail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" ng-blur="remove_cltemail_validation()">
              </li>
              <li>
                <input type="text" class="form-control" id="cltbudget" ng-blur="remove_cltbudget_validation()"  placeholder="Client Budget" ng-model="clientbudget"  required>
              </li>
              <li>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Client Skype" ng-model="clientskype" ng-pattern="/^[a-zA-Z ]*$/">
              </li>
              <li>
                <textarea id="clthistory" name="current-history" class="form-control" cols="2" placeholder="Client History" ng-blur="remove_clthistory_validation()" ng-model="history" required></textarea>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion" id="nav-section1">
          <h3>Lead </h3>
        </div>
        <div class="accordion_dv">
          <div class="form-list">
            <ul>
              <li>
                <input type="text" class="form-control" id="ldtype" ng-blur="remove_leadtype_validation()" placeholder="Lead Type" ng-model="leadtype" required>
            

              </li>
              <li>
                <textarea id="currstatus" name="current-status" ng-blur="remove_currstatus_validation()" class="form-control" cols="2" placeholder="Current Status" ng-model="status" required> 
                </textarea>
              </li>
            </ul>
          </div>
        </div>
        <!-- accordian form end -->
        <button type="submit" ng-click="UpdateLead(id)" class="btn btn-primary">Save</button>
      </div>

    <hr/>
    <h4>Recent Comments</h4>
    <div id="history">
      <div class="cmt_row">
        <img src="assets/img/man.png" alt="user"> <strong><a href="javascript:void()">Rakesh Kumar</a></strong> Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing
      </div>

        <div class="cmt_row">
          <img src="assets/img/man.png" alt="user"> <strong><a href="javascript:void()">Rakesh Kumar</a></strong> Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply
        </div>

        <div class="cmt_row2">
          <div class="col-lg-1"></div>
          <div class="col-lg-11">
            <textarea class="form-control col-lg-8" rows="3" placeholder="Write Comment her"></textarea>
            <br/>
            <br/>
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal view_task fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Task Action</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="javascript:void();" data-toggle="tooltip" data-placement="bottom" title="Select"><i class="fa fa-spinner"></i></a>
                    </li>
                    <li><a href="javascript:void();" data-toggle="tooltip" data-placement="bottom" title="User"><i class="fa fa-user"></i></a>
                    </li>
                    <li><a href="javascript:void();" data-toggle="tooltip" data-placement="bottom" title="Date & Time"><i class="fa fa-clock-o"></i></a>
                    </li>
                    <li><a href="javascript:void();" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                    </li>
                    <li><a href="javascript:void();" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id = "LoaderDiv">

<!--script>
    $('#content').bootpag({
    total: 5
    }).on("page", function(event, num){alert(num);
    $("#content").html("Page " + num); // or some ajax content loading...
    // ... after content load -> change total to 10
    $(this).bootpag({total: 50, maxVisible: 5}); 
    });
</script-->
