
<div ng-controller="workroomCtrl">
     <table>
         <tr>
           <td><input type="text" ng-model="workroom.url" width="80%"/></td>
           <td><button class="btn btn-info" ng-click="ReadJob(workroom.url,'odesk')">search</button></td>
         </tr>

     </table>

     <div ng-init="ReadAllJob()">
     	 <div ng-repeat="jobs in alljobs.workroom">
     	 	<div>{{jobs.url}}</div><br>
     	 	<div>{{jobs.bidType}}</div><hr>
     	 	 <button type="button" class="btn btn-danger" 
			      ng-click="DeleteWorkroom(jobs.id,jobs)">X Remove</button>
     	 </div>
     </div>
</div>



