/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: font-url('../fonts/fontawesome-webfont.eot?v=@{fa-version}');
  src: font-url('../fonts/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    font-url('../fonts/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    font-url('../fonts/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    font-url('../fonts/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
