 <div ng-controller="projectCtrl">
  <div ng-controller="keywordCtrl" style="width:85%">
                     <tags-input class="bootstrap"
                        ng-model="newProject.Keywords"
                        placeholder="Add a Keywords"
                        replace-spaces-with-dashes="false">
                        <auto-complete source="GetKeywords($query)"
                           min-length="0"
                           debounce-delay="0"
                           max-results="10"></auto-complete>
                     </tags-input>
                     {{newProject.Keywords}}
                     <button class="btn btn-primary" ng-click="GetAllKeywordsId(newProject.Keywords)">Seacrh</button>
                </div>
</div>