<div ng-controller="projectCtrl" data-ng-init='BindProject()'>
  <div class="col-lg-6 col-sm-6" id="mid">
              <div class="mid-box">
                 <h4>Add New Project <span class="img_rght">
                     <a  href="#/addproject" data-toggle="tooltip" data-placement="bottom" title="Add Project" id="add_project"><i class="fa fa-plus"></i></a></span>
                   </h4>
                 
                 
                   <!-- Nav tabs -->
               <div id="center_pane__contents" class="column-contents2 known-list" >
        <ul class="nav nav_list nav-tabs" role="tablist">
          <li class="active" ng-init="GetAllProjects()">
            <a href="" role="tab" data-toggle="tab">
              <i class="fa fa-list-ul"></i> List
            </a>
          </li>
                      <li><a href="" role="tab" data-toggle="tab">View Task <i class="fa fa-angle-down"></i></a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content nav_cont">
                      <div class="tab-pane active" id="list">
                        <div id="listscroll">
                          <table width="100%" border="0">
                <tr ng-repeat="getprojects in projectsAll">
                <!--i have deleted from hereeeeeeeeeeeeeeeeeetttttttt-->
                  <td width="8%"> {{$index+1}} </td>
                  <td width="98%"> {{getprojects.Title}}
                   <!--  <span class="img_rght">
                      <a href="#" id="meddelanden" data-content="Content here..." data-title="Meddelanden" data-toggle="clickover" data-placement="left">
                        <i class="icon-globe"></i>
                      </a>
                      <a class="btn view_task_btn"  data-placement="left" title="View Task" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-ellipsis-h"></i>
                      </a> 
                    </span> -->
                    <span class="img_rght">
                       <!-- <a href="#" id="meddelanden" data-content="Content here..." data-title="Meddelanden" data-toggle="mouseover" data-placement="left">
                        <i class="icon-globe"></i>
                      </a> --> <!--data-toggle="modal" data-target="#myModal"--> 
                      <a class="btn view_task_btn" title="View Task" ng-mouseover = "tasksModal($event,getprojects)" ng-mouseout="close()"  data-placement="left">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </table>
                          </div>  
                      </div>
                      
                      </div>
                      </div>
                    </div>
                </div>    
             </div>
          </div>

          <div class="col-lg-4 col-sm-4" id="right" data-ng-init='BindProject()' >
             <div class="right-box">    
              <div class="right_heading"><h4>Detail</h4></div>
              <div id="add_proj_form">   
                  <form class="right_add" role="form" id="addProject">
                      <div class="form-group title-proj">
                        <input type="text" style="border: 1px solid #ccc" class="form-control" id="exampleInputEmail1" placeholder="Title" ng-blur="remove_title_validation()" ng-model="projectId.project.Title" >
                      </div>
                      <div class="form-group url-proj">
                        <input type="text" style="border: 1px solid #ccc" class="form-control" id="exampleInputPassword1" ng-blur="remove_url_validation()" placeholder="Project URL"  ng-model="projectId.project.Url" >
                        <p style="font-size: 13px"  class="text-muted">&nbsp;(e.g. http://example.com) </p>
                      </div>
                      <div class="form-group url-proj">
                        <input type="text" style="border: 1px solid #ccc" class="form-control" id="exampleInputPassword" placeholder="Github URL" ng-blur="remove_github_validation()"  ng-model="projectId.project.GitUrl">
                        <p style="font-size: 13px"  class="text-muted">&nbsp;(e.g. http://example.com) </p>
                      </div>
                     
                      <div  ng-controller="keywordCtrl" id="keywords" >
                        <tags-input class="bootstrap"
                        ng-model="$parent.keywordList"
                        placeholder="Add a Keyword"
                        replace-spaces-with-dashes="false" id="keywordtest" data-ng-init="Width()">
                        <auto-complete source="GetKeywords($query)"
                           min-length="0"
                           debounce-delay="0"
                           max-results="10"></auto-complete>
                        </tags-input>
                      </div>
                      
                      <div class="form-group has-error" ng-controller="DeveloperCtrl" id="developers" >
                          <tags-input class="bootstrap form-group" id="host"
                        ng-model="$parent.DeveloperList"
                        placeholder="Add Developer Name"
                        replace-spaces-with-dashes="false" data-ng-init="Width()">
                        <auto-complete source="GetDeveloper($query)"
                           min-length="0"
                           debounce-delay="0"
                           max-results="10"></auto-complete>
                     </tags-input>
                      </div>


                      <div class="form-group txt-proj">
                        <textarea name="txtarea" class="form-control" style="border: 1px solid #ccc" placeholder="Description" id="description" ng-blur="remove_desc_validation()" ng-model="projectId.project.Description"></textarea>
                      </div>
                      
                      <button type="submit" class="btn btn-primary" ng-click="AddProject(projectId.project.Title, projectId.project.Url,projectId.project.GitUrl,projectId.project.Description,keywordList,DeveloperList)" id="save">Save</button>
                       <button type="submit" class="btn btn-primary"  ng-click="UpdateProject(projectId.project.id,projectId.project.Description,projectId.project.Url,projectId.project.GitUrl,keywordList,DeveloperList,projectId.project.Title)" id="update">Update</button>
                    </form>
                 </div>  
              <hr/>
                
            <h4>History</h4>
             <div id="history">  
               <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Title for Project   <span class="img_rght">1 hour ago</span>
               </div>
                <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Keywords for Project  <span class="img_rght"> 2 hour ago</span>
               </div>
                 <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Developer name for Project  <span class="img_rght"> 4 hour ago</span>
               </div>
               <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Title for Project   <span class="img_rght">1 hour ago</span>
               </div>
                <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Keywords for Project  <span class="img_rght"> 2 hour ago</span>
               </div>
                 <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Developer name for Project  <span class="img_rght"> 4 hour ago</span>
               </div>
               <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Title for Project   <span class="img_rght">1 hour ago</span>
               </div>
                <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Keywords for Project  <span class="img_rght"> 2 hour ago</span>
               </div>
                 <div class="hist_row">
                 <img src="assets/img/user.jpg" alt="user"> <strong><a href="javascript:void()">Dinesh Kumar</a></strong> changed Developer name for Project  <span class="img_rght"> 4 hour ago</span>
               </div> 
              </div>              
            </div>
          </div>

<!-- Modal -->
<div class="modal view_task fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Task Action</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li><a data-toggle="tooltip" data-placement="bottom" title="Select"><i class="fa fa-spinner">
          </i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" title="User"><i class="fa fa-user">
          </i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" title="Date & Time"><i class="fa fa-clock-o">
          </i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit">
          </i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o">
          </i></a></li>
        </ul>  
      </div>
    </div>
  </div>
  </div>
<!--End of main Tags -->
</div>
