  <div class="col-lg-10 col-sm-10" id="mid" ng-controller="projectCtrl" >
 
            
             <div class="mid-box">
              
              <div class="mid-tp_search">          
                 <h4 class="spacing">Search Result</h4>
                  <div class="search-content host-styl"  ng-controller="keywordCtrl"  >
 
                 
                      <tags-input class="bootstrap"
                        ng-model="searchKeyword.key"
                        placeholder="Filter by  Keywords"
                        replace-spaces-with-dashes="false">
                        <auto-complete source="GetKeywords($query)"
                           min-length="0"
                           debounce-delay="0"
                           max-results="10"></auto-complete>
                     </tags-input>

                      <button class="Button" ng-click="GetAllProjectByKeyId(searchKeyword.key)">Search</button>               
                    
                  
                  </div>
                </div>  
                
            
            <div id="searchscroll">      
             

             
            <!--box 2 start here -->
          
                       <span class="left_srh_cont" style="color:red">{{Noprojects}}</span>
  
                <article id="part-1" ng-repeat = "project in projects">
                  <div class="main-heading">
                       <h6 class="themableh"><span class="left_srh_cont">{{project.Title}}</span>
                          <span class="tool_cont">
                            <ul>
                              
                              <li><a title="Copy to Clipboard" data-placement="bottom" data-toggle="tooltip"  data-index ="{{$index}}" data-original-title="Copy to Clipboard" clip-copy="getTextToCopy(project.Url,project.Description,project.projectId)" ng-click="getTextToCopy(project.Url,project.Description,project.projectId)"><i class="fa fa-copy"></i></a></li>
                              <li>
                          
                              <a  title="{{project.Developers}}" data-placement="bottom" data-toggle="tooltip" data-target="#" data-original-title="{{project.Developers}}"><i class="fa fa-user"></i></a></li>
                              
                              <li><a title="{{project.CreatedDate}}" data-placement="bottom" data-toggle="tooltip"  data-original-title="{{project.CreatedDate}}"><i class="fa fa-clock-o"></i></a></li>
                              
                              <li><a title="Edit" data-placement="bottom" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Edit" ng-click="ReturnToAddProject(project.projectId)"><i class="fa fa-edit"></i></a></li> 
                             
                             <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="Delete" Title="Delete" ng-click="DeleteProject(project.projectId,project)"><i class="fa fa-trash-o"></i></a></li> 
                            </ul>
                         </span>
                         
                       </h6>
                  </div>
                 
                 <div class="links"><a href="{{project.Url}}" target="new">{{project.Url}}</a> </div>
                
                <div class="content-paragh">
                    <p>{{project.Description}}</p>
                </div>
             
                <div class="featured-links" ng-repeat = "key in project.keywordname">
                  <a href=""><div class="sail-link">{{key}}</div></a>
               
                </div>
                  
                  </article>
             <!--box 2 start here -->
                  
                </div>  
             </div>
             
             
             <div class="left_foot ryt_foot">Copy to Clipboard </div>
          </div>




