<div>
<!-- <div ng-controller="scriptCtrl" ng-init="ImportKeywords()"></div> -->
<!-- <div ng-controller="scriptCtrl" ng-init="ImportProjects()"></div> -->
<!-- <div ng-controller="scriptCtrl" ng-init="ImportKeywordId()"></div> -->

<div  ng-controller="userCtrl" ng-init = "gethomepage()" class="container" id="loginpage">
<!-- <div  ng-controller="scriptCtrl" ng-init = "ImportBids()" class="container" id="loginpage"> -->

      
      <form  class="form-signin" role="form" ng-submit="checkLogin(newUser.UserName, newUser.Password)">
      <!-- <form  class="form-signin" role="form" ng-submit="ImportBids()"> -->
        <h2 class="form-signin-heading"><img src="assets/img/logo.png" /></h2>
        <div class="form-group">
          <input type="text" placeholder="Username" class="login_form email" ng-model="newUser.UserName">
        </div>
        <div class="form-group">
          <input type="password" class="login_form password" placeholder="Password" ng-model="newUser.Password">
        </div>    
        <button class="btn btn-block" type="submit">Submit</button>
        <input type="checkbox" class="css-checkbox" id="checkbox1"   />
     <input id="demo_box_1" class="css-checkbox" type="checkbox" checked/>
         <label for="demo_box_1" name="demo_lbl_2" class="css-label tbl"><span class="sub-hd"> Keep me logged in</span></label>
      </form>
      <div style="position:fixed; left:0px;right:0px;top:0px;bottom:0px; background:rgba(255,255,255, 0.8)" id="cntntData">
      <div id = "LoaderDiv" style="margin-top:100px;display: inline-block;height: 125px;left: 50%;margin-left:-70px;margin-top: 0 !important;position: absolute;top: 321px;width: 135px;z-index: 999;margin-top: 100px;"></div>
      </div>
 </div>
