@skyblue-color:#1f8dd6;
@label-color : #666666;

.mid-tp_search{border-bottom:1px solid #cbcbcb; padding-bottom:15px}

.search-content {
    width:90%;
    margin:0px 0px 0px 15px;
    input[type="text"] {
        height:29px;
        padding-left: 15px;
        font-size: 12px;
        color: #000;
        float:left;
    }
}
.Button {
    border:1px solid #dadada;
    height:34px;
    border-left:none;
    width:47px;
    background:url(../../img/Search.png) 14px 8px no-repeat; text-indent:-9999px;
}


.spacing {
    padding-left:4px;
}

.main-heading {
    width:100%; margin-top:-5px;
}

#part-1 {
    width:100%;
    border:1px solid #cbcbcb;
    border-top:none;
    padding:5px 0px 10px 15px;
    background:#ffffff;
    border-left:none;
    border-right:none;
}

#part-1:hover {
    border:1px solid #cbcbcb;
    border-top:none;
    background:#f2f2f2;
    border-left:none;
    border-right:none;
	
}

.themableh {
    color:#585858;
    font-weight:normal;
    font-size:13px;
}

.links {
    font-size:13px;
    color:#1f8dd6;
    margin-top:-5px;
    a {
        color:#1f8dd6;
    }
    a:hover {
        color:#056eb3;
        text-decoration:none;
    }
}
.content-paragh {
    width:100%;
    margin-top:4px;
    p {
        color:#8b8b8b;
        font-size:12px;
    }
}
.featured-links {
    width:100%;
    margin-top:-4px;
}
.sail-link {
    background:#2d9df9;
    padding:3px 10px 3px 10px;
    color:#fff;
    border-radius:4px;
    text-decoration:none;
    display:inline-block;
    margin-right:3px;
}


#part-2 {
    width:100%;
    padding:3px 0px 10px 15px;
    background:#fff;
}
.second-desp {
    width:100%;
    margin-top:18px;
}
.third-desp {
    width:98%;
    border-top:1px solid #cbcbcb;
    margin-top:12px;
    padding-top:5px;
}


.themableh{
    display: inline-block;
    font-weight: bold;
    width: 100%;
	margin-bottom:2px;}

.tool_cont{float:right; padding-right:35px;}
.tool_cont ul{padding:0px; margin:0px;}
.tool_cont li {float:left; margin-right:8px; list-style-type:none}
.tool_cont li a{color:#777777; text-decoration:none; font-size:20px;}
.tool_cont li a:hover{color:#2d9df9}



/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 60%;
    border: 1px solid #cccccc;
    cursor: text;
    font-size: 12px;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
	float:left;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 5px 3px 3px 5px;
    padding: 3px 5px;
    background-color: #f2f2f2;
	color: #555555;
    cursor: default;
    border: 1px solid #cccccc;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 13px;
    margin-left: 6px;
    position: relative;
    top: 2px;
}

li.token-input-selected-token-facebook {
    background-color: #2d9df9;
    border: 1px solid #2a94ea;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 56%;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
	font-size:13px;
	color:#333333;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #1f8dd6;
    color: #fff;
}


.sbHolder {
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    position: relative;
    width: 140px;
    display:inline-block;
    top:0px;
    left:7px;
}
.sbHolder:focus {
    .sbSelector {
        border:1px solid #F06D72;
    }
}
.sbSelector {
    display: block;
    height: 28px;
    left: 0;
    line-height: 28px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 139px;
    font-style:italic;
}
.sbSelector:link, .sbSelector:visited {
    color:#000000;
    outline: none;
    text-decoration: none;
    border: solid 1px #cccccc;
    text-align:left;
}
.sbSelector:focus {
    border:1px solid #F06D72;
}
.sbToggle {
    background:url(../../img/select-icon.jpg) 17px 12px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.sbToggle:hover {
    background: url(../../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen {
    background:url(../../img/select-icon.jpg) 17px 12px no-repeat;
}
.sbToggleOpen:hover {
    background: url(../../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled {
    background-color: #3C3C3C;
    border: solid 1px #515151;
}
.sbOptions {
    border: solid 1px #cccccc;
    background:#ffffff;
    list-style: none;
    left:0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 139px;
    z-index:99;
    padding:5px 0px;
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
    max-height: inherit !important;
    li.last {
        a {
            border-bottom: none;
        }
    }
    .sbDisabled {
        border-bottom: dotted 1px #515151;
        color: #999;
        display: block;
        padding: 7px 0 7px 3px;
    }
    .sbGroup {
        border-bottom: dotted 1px #515151;
        color: #EBB52D;
        display: block;
        font-weight: bold;
        padding: 7px 0 7px 3px;
    }
    .sbSub {
        padding-left: 17px;
    }
}
.shp-upper-list {
    .sbOptions {
        li {
            padding: 0 7px;
            text-align:right;
            margin-bottom:0px;
            width:100%;
        }
        a {
            display: block;
            outline: none;
            padding: 0px 20px 1px 3px;
            text-align:right;
        }
    }
}
.sbOptions a:link, .sbOptions a:visited {
    color: #000000;
    text-decoration: none;
    display:block;
}
.sbOptions a:hover,.sbOptions a:focus,.sbOptions a.sbFocus {
    color: #3380AB;
}
.wrapper-ninteen {
    display:inline;
    left: 0px;
    position: relative;
    text-align:left;
    .sbHolder {
        width: 100%;
    }
    .sbSelector {
        border: 1px solid #cccccc;
        border-radius: 0px;
        font-size: 13px;
        font-style: normal;
        height: 33px;
        line-height: 31px;
        width: 100%;
        font-weight:bold;
        color: @label-color;
    }
    .sbOptions {
        width: 100%;
        left:0px;
        li {
            float: none;
            font-size: 12px;
            margin-right: 0;
            padding-left: 2px;
            padding-right: 0;
            text-align: left;
            width: auto;
            a {
                display:block;
                padding:3px 9px;
                text-align:left;
                font-weight:bold;
                font-size:13px;
                color: @label-color;
             &:hover{
			  color:#000000
			 }
		    }
			
        }
    }
    .sbToggle {
        background:url(../../img/select-icons.png) 18px 12px no-repeat;
        height: 33px;
        width: 43px;
    }
}
.wrapper-twenty {
    display:inline;
    left: -7px;
    position: relative;
    text-align:left;
    margin-right:18px;
    .sbHolder {
        width: 60%;
    }
    .sbSelector {
        border: 1px solid #cccccc;
        font-size: 15px;
        font-style: normal;
        height: 22px;
        line-height: 50px;
        width: 100%;
        font-weight:bold;
        font-size:18px;
        color: @label-color;
    }
    .sbOptions {
        width: 100%;
        left:0px;
        li {
            float: none;
            font-size: 12px;
            margin-right: 0;
            padding-left: 2px;
            padding-right: 0;
            text-align: left;
            width: auto;
            a {
                display:block;
                padding:3px 9px;
                text-align:left;
                font-weight:bold;
                font-size:18px;
                color: @label-color;
            }
        }
    }
    .sbToggle {
        background:url(../../img/dropdown.png) 18px -1px no-repeat;
        height: 52px;
        width: 75px;
    }
}
.wrapper-twentyone {
    display:inline;
    left: -7px;
    position: relative;
    text-align:left;
    .sbHolder {
        width: 32%;
    }
    .sbSelector {
        border: 1px solid #cccccc;
        font-size: 15px;
        font-style: normal;
        height: 22px;
        line-height: 50px;
        width: 100%;
        font-weight:bold;
        font-size:18px;
        color: @label-color;
    }
    .sbOptions {
        width: 100%;
        left:0px;
        li {
            float: none;
            font-size: 12px;
            margin-right: 0;
            padding-left: 2px;
            padding-right: 0;
            text-align: left;
            width: auto;
            a {
                display:block;
                padding:3px 9px;
                text-align:left;
                font-weight:bold;
                font-size:18px;
                color: @label-color;
            }
        }
    }
    .sbToggle {
        background:url(../../img/dropdown.png) 18px -1px no-repeat;
        height: 52px;
        width: 75px;
    }
}









	
