@import "search.less";


@skyblue-color:  #1f8dd6;
@light-grey-color: #ededed;
@text-color: #333333;
@font-family: FontAwesome;
@border-color: #f2f2f2;
@border-color2: #cccccc;

@form-color:  #f9f9f9;
@form-border: #008ccf;
@background-login-page: #00a4f3;
@font-family: FontAwesome;


*{outline:none;}


body h1 h2 h3 h4 h5 p
{
font-family:@font-family;
outline:none;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

#myModal1 fieldset {
    width: 90%;
}

.modal-header h3 {
    font-size: 20px;
    margin-top: 2px;
}

.main {
    
    min-height: 100%;
}

.form-signin-heading{text-align:center; margin-bottom:39px; margin-top:30px;}

.login_bg{background:@background-login-page;}

.form-signin {
    background: @form-color;
    border: 1px solid @form-border;
    margin: 70px auto 60px;
    max-width: 445px;
    padding: 15px 15px 25px 15px;
	
}

input.css-checkbox[type="checkbox"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input.css-checkbox[type="checkbox"] + label.css-label {
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #aeaeae;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 20px;
    vertical-align: middle;
}




.login_form {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 19px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.email{background:url(../../img/email.png) 97% 55% no-repeat; padding-right: 50px;}
.password{background:url(../../img/password.png) 97% 55% no-repeat; padding-right: 50px;}
img {
    max-width: 100%;
    vertical-align: middle;
}

.btn-block{background:#00acee; color:#ffffff; padding:12px 10px !important; font-size:24px !important;  height:60px;}
.btn-block:hover{background:#009cd8; color:#ffffff !important}

input[type=checkbox].css-checkbox{
       position:absolute;
	   overflow:hidden;
	   clip:rect(0 0 0 0);
	   height:1px;
	   width:1px;
	   margin:-1px;
	   padding:0;
	   border:0
	  }

input[type=checkbox].css-checkbox+label.css-label{
        height:22px;
		line-height:22px;
		padding-left:31px;
		display:inline-block;
		background-repeat:no-repeat;
		background-position:0 0;
		vertical-align:middle;
		cursor:pointer;
		font-size:12px
	 }
		 
input[type=checkbox].css-checkbox:checked+label.css-label{
           background-position:0 -21px}

 .css-label{
      background:url(../../img/dark-check.png) no-repeat
	  }


input[type=radio].css-checkbox {
							display:none;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:30px;
							height:22px; 
							display:inline-block;
							line-height:24px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:15px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -21px;
						}
						label.css-label {
				 background:url(../../img/dark-check.png) no-repeat;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}


.btn-primary{
    background:#1f8dd6 !important;
}

body {
    background:url(../../img/bg.jpg) top center repeat;
    overflow:hidden;
}
a {
    outline:none !important;
}
a:hover {
    outline:none !important;
}
a:focus {
    outline:none !important;
}
.proj_add .col-lg-2, .col-lg-6, .col-lg-4 {
    padding:0 !important;
}
.proj_add .col-lg-2, .col-lg-10 {
    padding:0 !important;
}

.proj_add {
    margin-top:0px; 
    padding: 0 !important;
}
.leftbar {
    margin-top:10px;
    .search_bx {
        width:90%;
        margin:0px auto;
        margin-top:20px;
    }
}
.logo {
    margin-left:25px;
}
.search_txt {
    border:1px solid @border-color2;
    height: 30px;
    padding: 8px;
    background:url(../../img/Search.png) 8px 5px no-repeat;
    text-indent:25px;
    width: 80%;
}
.search_btn {
    border: 1px solid @border-color2;
    background:url(../../img/arrow_a.png) 12px 12px no-repeat;
    height: 30px;
    margin-left: -1px;
    width: 17%;
}
.user {
    background: -webkit-linear-gradient(#fdfdfd, #f3f3f3);
    background: -o-linear-gradient(#fdfdfd, #f3f3f3);
    background: -moz-linear-gradient(#fdfdfd, #f3f3f3);
    background: linear-gradient(#fdfdfd, #f3f3f3);
    border:1px solid #d2d2d2;
    padding:5px 10px;
    margin-top:15px;
    border-right:none;
}
#main-menu-wrapper {
    ul {
        padding:0px;
        margin:0px;
        margin-top:14px;
    }
    li {
        float:none;
        list-style-type:none;
        border-top:1px solid #d2d2d2;
    }
    li:first-child {
        border-top:none;
    }
    a {
        color: #444444;
        display: block;
        font-size: 12px;
        font-weight: 600;
        padding: 6px 14px;
        text-decoration: none;
        outline:none;
        position:relative;
        .fa {
            margin-right:10px;
        }
        .arr_rght {
            position: absolute;
            right: 2px;
            text-align: right;
        }
    }
    a:hover {
        background: @skyblue-color;
        color:#ffffff;
    }
    a.active {
        background:@skyblue-color;
        color:#ffffff;
    }
    .child {
        background-color: #D9E3E5;
        display: none;
        margin-left: 0;
        padding-left: 0;
        li {
            background-color: #2F3949;
            border-bottom: 0 solid #B7C9CD;
            border-top: 1px solid #3E495A;
        }
    }
    .child.open {
        display: block;
    }
    .dropdown-menu {
        box-shadow:none;
        border:none;
    }
    .dropdown-submenu {
        ul {
            margin-top:0px;
            width:100%;
            background:#f5f3f3;
            margin-bottom:3px;
            -webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
            li {
                a {
                    padding-left:20px;
                }
                a:hover {
                    background:#e9e9e9;
                    color: @text-color;
                }
            }
        }
    }
}
.dropdown-submenu {
    & > .dropdown-menu {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
    }
}
.dropdown-submenu:hover {
    & > .dropdown-menu {
        display: none;
    }
    & > .shown {
        display: block;
    }
}
.shown {
    display: block !important;
}
.mid-box {
    border:1px solid #d8d8d8;
    height:100%;
    background:#ffffff;
    h4 {
        margin-left:10px;
        font-size:16px;
        margin-bottom:12px;
    }
}

#searchscroll{
    padding: 0%;
    height: 500px;
    width: 99%;
    overflow: auto;
    margin-bottom:20px;

}

#listscroll {
    padding: 0%;
    height: 560px;
    width: 99%;
    overflow: auto;
    margin-bottom:20px;
}
#listscroll2 {
    padding: 0%;
    height: 590px;
    width: 99%;
    margin-bottom:20px;
}
.nav_list {
    margin-top:0px;
    border:1px solid @border-color2;
    border-left:none;
    border-right:none;
    padding-left: 26px !important;
    background: -webkit-linear-gradient(#fdfdfd, #f3f3f3);
    background: -o-linear-gradient(#fdfdfd, #f3f3f3);
    background: -moz-linear-gradient(#fdfdfd, #f3f3f3);
    background: linear-gradient(#fdfdfd, #f3f3f3);
    border-radius:0px;
    li {
        a {
            color: @text-color;
            border-radius:0px !important;
            font-size: 13px;
            font-weight: 600;
            padding: 6px 14px !important;
        }
    }
}
.nav_list &>li.active &>a, .nav_list &>li.active &>a:hover, .nav_list &>li.active &>a:focus {
    background:@light-grey-color !important;
    border-radius:none;
}
.nav_cont {
    table {
        border:none;
        tr {
            td {
                padding:5px 6px;
                border-bottom:1px solid #E1E0E0;
                color:@text-color;
                font-size:12px;
            }
            td:first-child {
                font-size: 13px;
                text-align: center;
            }
        }
        tr:hover {
            background:#fffbe8;
        }
    }
}


#center_pane__contents.known-list {
    background: url("../../img/gutter.png") repeat-y;
}
.right-box {
    border:1px solid #d8d8d8;
    height:100%;
    background:#ffffff;
	padding:5px;
    .form-group {
        margin-bottom: 8px;
    }
    h4 {
        font-size:16px;
        margin-left:7px;
        margin-top:6px;
    }
}
.right_add {
    .form-control {
        border:none;
        border-bottom:1px solid @border-color;
        box-shadow:none;
        font-size: 12px;
        height: 29px;
        padding: 4px 8px;
    }
    .form-control:hover {
        border:1px solid @border-color2;
        box-shadow:none;
    }
    .form-control:focus {
        border:1px solid @border-color2;
    }
}
#add_proj_form {
    padding: 1%;
    height: 290px;
    width: 98%;
    overflow: auto;
    margin-bottom:20px;
	outline:none
}
#history {
    padding: 0%;
    height: 200px;
    width: 99%;
    overflow: auto;
    margin-bottom:20px;
	display:block;
}
.img_rght {
    float: right;
    margin-right: 11px;
    margin-top: 0px;
	position:relative;
	a {
	color:#999999;
	padding: 4px;
	 &:hover{
	  color:#1f8dd6;
	 }
	} 
}
.title-proj {
    input::-moz-placeholder {
        font-weight:bold;
        color:@text-color !important;
        opacity:1;
        font-size:13px;
    }
    input {
        font-weight:bold !important;
        color:@text-color !important;
    }
}
.url-proj {
    input::-moz-placeholder {
        color:@skyblue-color;
    }
    input {
        color:@skyblue-color;
    }
}
.txt-proj {
    textarea {
        height:50px !important;
    }
}
.hist_row {
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
    padding: 5px;
    img {
        margin-right:3px;
        width:23px;
        height:23px;
    }
}

.left_srh_cont{width:70%; float:left}

.left_foot{  background: none repeat scroll 0 0 #dfdfdf;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
	 z-index:99999;
    padding: 5px 0 0 11px;
    position: absolute;
    width: 100%;
}

.left_foot {
    .btn-default {
        background:none;
        border:none;
        padding-top:0px;
        font-size:13px;
    }
    .dropdown-menu {
        top: -74px;
        box-shadow:none;
        li {
            a {
                font-size:13px;
            }
            a:hover {
                background:#1f8dd6;
                color:#ffffff;
            }
        }
    }
}

.view_task2 {
    .modal-dialog {
        width:117px;
        border-radius:0;
        left: 14%;
        margin-top: 116px;
    }
    .modal-header {
        padding:5px;
        font-size:13px;
        h4 {
            font-size:13px;
            font-weight:bold;
        }
    }
    .modal-body {
        padding:5px;
    }
    .modal-content {
        box-shadow:none;
        border-radius:0;
        ul {
            padding:0px;
            margin:0px;
            height:35px;
        }
        li {
            float:left;
            list-style-type:none;
            margin-right:5px;
            a {
                color:#666666;
                padding:4px 5px;
                display:block;
                font-size:22px;
            }
            a:hover {
                color:#2d9df9;
            }
        }
    }
}




.view_task {
    .modal-dialog {
        width:200px;
        border-radius:0;
        left: 14%;
        margin-top: 116px;
    }
    .modal-header {
        padding:5px;
        font-size:13px;
        h4 {
            font-size:13px;
            font-weight:bold;
        }
    }
    .modal-body {
        padding:5px;
    }
    .modal-content {
        box-shadow:none;
        border-radius:0;
        ul {
            padding:0px;
            margin:0px;
            height:35px;
        }
        li {
            float:left;
            list-style-type:none;
            margin-right:7px;
            a {
                color:#666666;
                padding:4px 5px;
                display:block;
                font-size:22px;
            }
            a:hover {
                color:#2d9df9;
            }
        }
    }
}
.modal-backdrop.in {
    opacity:0 !important;
}


.btn.view_task_btn {
    padding:0px;
    font-size:18px;
    line-height:15px;
    color:#333333;
}
.right_heading {
    margin-top:0px;
    border:1px solid @border-color2;
    border-left:none;
    border-right:none;
    border-top:none;
    padding-left: 6px !important;
    background: -webkit-linear-gradient(#fdfdfd, #f3f3f3);
    background: -o-linear-gradient(#fdfdfd, #f3f3f3);
    background: -moz-linear-gradient(#fdfdfd, #f3f3f3);
    background: linear-gradient(#fdfdfd, #f3f3f3);
    border-radius:0px;
}
.right_subheading {
    margin-top:0px;
    border:1px solid @border-color2;
    border-left:none;
    border-right:none;
    border-top:1px solid @border-color2;
    padding: 4px 6px !important;
    background: #f3f3f3;
    border-radius:0px;
    font-size:13px;
    color:#777777;
    .dropdown {
        display: inline-block;
        position: relative;
    }
}
#add_proj_form {
    .panel-heading {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
        padding: 0;
        h4 {
            margin-left:0px;
        }
    }
    .panel-title {
        & > a {
            color: inherit;
            display: block;
            padding: 7px 4px;
        }
    }
    .panel-body {
        padding:10px 0px;
    }
    .panel-default {
        border:none;
        bottom-bottom:1px solid #cccccc;
    }
}
.form-list {
    display: inline-block;
    width:100%;
    ul {
        padding:0px;
        margin:0px;
    }
    li {
        float:left;
        list-style-type:none;
        margin-right:10px;
        margin-bottom:7px;
        width:47%;
        input {
            border-radius:0px;
            height:28px;
            font-size: 13px;
            padding: 5px 6px;
        }
    }
    li.cltn_txtarea {
        width:98%;
    }
    textarea {
        width:100%;
        border:1px solid #cccccc;
        padding-left:5px;
    }
}
.cltn_txtarea {
    textarea {
        width:98%;
        border:1px solid #cccccc;
        padding-left:5px;
    }
}
.lg_lead {
    text-align:right;
    display:block;
}
.dev_lead {
    img {
        width:23px;
        height:23px;
    }
}
.img_rght.del_cont {
    a {
        color: #999999;
        font-size: 17px;
        line-height: 10px;
    }
    a:hover {
        color:#1f8dd6;
    }
}
.lead-heading {
    background:#f0f0f0;
    padding:10px 10px;
    h4 {
        margin:0px;
    }
}
h4.mid_lead {
    margin:0px;
    border-bottom:1px solid #cccccc;
    .img_rght {
        margin-top:0px;
    }
}
.srch-lead {
    background: url("../../img/Search.png") 7px 10px no-repeat;
    border: medium none;
    padding: 7px 7px 10px 7px;
    background-size: 20px 20px;
    text-indent:29px;
    font-size:15px;
}


.srch-lead-new {
    
    border: medium none; 
    width: 85%;
    height:25px;
    font-size:15px;
}
.nav_list {
    li.img_rght {
        float:right;
    }
}
.cmt_row {
    padding:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:5px;
    font-size:13px;
    padding:10px;
    margin-top:8px;
    margin-bottom:8px;
    font-size:13px;
    img {
        float:left;
        margin-right:10px;
        margin-top:5px;
    }
}
.cmt_row2 {
    .btn {
        margin-top:10px;
        display:block;
        float:right;
    }
}
.accordion {
    border-bottom: 1px solid #cccccc;
    color: #333333;
    font-size: 1em;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:5px;
    margin-bottom:10px;
    cursor:pointer;
    width:100%;
    h3 {
        line-height: 21px;
        font-size:14px;
        margin:0px;
        font-weight:bold;
    }
}
.accordion-open {
    color: #333333;
    display: block;
    float: right;
    padding: 4px;
    background: url("../../img/open.png") 99% 56% no-repeat;
}
.accordion-close {
    background: url("../../img/close.png") 99% 56% no-repeat;
    display: block;
    float: right;
    padding: 4px;
}
.accordion_dv {
    margin: 0 auto;
    width: 95%;
}
.rec_bds_frm {
    margin-top:15px;
    .form-group {
        display:inline-block;
        width:100%;
        margin-bottom:4px;
        label {
            font-weight:normal;
            font-size:14px;
            text-align:right;
            margin-top:5px;
        }
        .form-control {
            border-radius:0px;
        }
    }
}
.spin {
    display: inline-block;
    font-size: 19px;
    position: absolute;
    right: 18px;
    top: 0;
    width: 51px;
    cursor:pointer;
    color:#36a002;
}



input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; margin:0; }
input[type=checkbox]{ width:auto; border:none; bottom:-1px; cursor:pointer; margin:0 5px 0 0; position:relative; }
button[type=submit]{ font-size:1.1em; padding:5px 25px; }

/* Tooltips helpers */
.item .tooltip{ float:left; top:2px; left:7px; position:relative; z-index:2; }
.item .tooltip:hover{ z-index:3; }
   .item .tooltip > span{ display:inline-block; width:15px; height:15px; line-height:15px; font-size:0.9em; font-weight:bold; text-align:center; color:#FFF; cursor:help; background-color:#00AEEF; position:relative; border-radius:10px; }
    .item .tooltip .content{ opacity:0; width:200px; background-color:#333; color:#FFF; font-size:0.9em; position:absolute; top:0; left:20px; padding:8px; border-radius:6px; pointer-events:none; transition:0.2s cubic-bezier(0.1, 0.1, 0.25, 2); -webkit-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); -moz-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); }
        .item .tooltip p{ padding:0; }
   .item .tooltip.down .content{ left:auto; right:0; top:30px; }
   .item .tooltip:hover .content{ opacity:1; left:36px; }
      .item .tooltip .content b{ height:0; width:0; border-color:#333 #333 transparent transparent; border-style:solid; border-width:9px 7px; position:absolute; left:-14px; top:8px; }
        .item .tooltip.down .content b{ left:auto; right:6px; top:-10px; border-width:5px; border-color:transparent #333 #333 transparent; }

/* alerts (when validation fails) */
.item .alert{ float:left; margin:0 0 0 20px; padding:3px 10px; color:#FFF; border-radius:3px 4px 4px 3px; background-color:#CE5454; max-width:170px; white-space:pre; position:relative; left:-15px; opacity:0; z-index:1; transition:0.15s ease-out; }
.item .alert::after{ content:''; display:block; height:0; width:0; border-color:transparent #CE5454 transparent transparent; border-style:solid; border-width:11px 7px; position:absolute; left:-13px; top:1px; }
.item.bad .alert{ left:0; opacity:1; }


@keyframes shake{
    15%{ transform:translateX(-5px); }
    30%{ transform:translateX(5px); }
	45%{ transform:translateX(-3px); }
	60%{ transform:translateX(3px); }
	75%{ transform:translateX(2px); }
	100%{ transform:none; }
}
@-webkit-keyframes shake{
    25%{ -webkit-transform:translateX(-6px); }
    75%{ -webkit-transform:translateX(6px); }
}

form fieldset{ clear:both; margin:0 0 10px 0; }
form .item{ padding:5px 0; position:relative; height:2em; }
form .item.items{ height:auto; }
	.item label, .item .label{ float:left; cursor:pointer; }
		.item label span, .item .label{ float:left; width:160px; text-transform:capitalize; line-height:2em; }
	.item input, .item textarea{ float:left; padding:3px 4px; width:210px; -webkit-transition:0.2s; -moz-transition:0.2s; transition:0.2s; }
	.item input[type=checkbox]{ width:auto; }
	
	.label ~ label{ vertical-align:middle; margin:0.3em 1.2em 0 0; } 
	
	.item input.short{ width:90px; }
	.item input:focus:not([type="checkbox"]), .item textarea:focus{ box-shadow:0 0 4px #00AEEF; border:1px solid #00AEEF; }
	.item textarea{  }
	.item select{ float:left; width:220px; padding:2px 0; margin:0; border:1px solid #CCC; text-transform:capitalize; }
		.item select option{ padding:1px; }

    .item > .extra{ float:left; font-size:0.9em; color:#999; line-height:2em; margin-left:13px; }
    
	.item.multi .input{ float:left; }
		.item.multi input{ float:left; margin-right:5px; width:35px; text-align:center; }
		form .item.multi input:nth-last-child(-n+2){ margin:0; }
	.item.items input{ border-top:5px solid #E1E1E1; margin:0 0 0 160px; }
	
	.bad input, 
	.bad select, 
	.bad textarea{ border:1px solid #CE5454; box-shadow:0 0 4px -2px #CE5454; position:relative; left:0; -moz-animation:.7s 1 shake linear; -webkit-animation:0.7s 1 shake linear; }
    
	
/* mode2 - where the label's text is above the field and not next to it
--------------------------------------------------------------------------- */
.mode2 .item{ float:left; clear:left; margin-bottom:30px; height:auto; padding:0; zoom:1; }
.mode2 .item.bad{ margin-bottom:8px; }
.mode2 .item::before, .mode2 .item::after{ content:''; display:table; }
.mode2 .item::after{ clear:both; }
	.mode2 .item label{  }
		.mode2 .item label span{ float:none; display:block; line-height:inherit; }
	.mode2 .item input, .item textarea{ width:250px; margin:0; }
	.mode2 .item textarea{ width:350px; margin:0; }
	.mode2 .item select{ width:260px; float:none; }
	.mode2 .item.multi label{ float:none; }
	.mode2 .item.multi input{ float:left; margin-right:5px; width:35px; text-align:center; }
	.mode2 .item .tooltip{ left:auto; position:absolute; right:-22px; top:19px; }
	.mode2 .item .alert::after{ display:none; }
	.mode2 .item .alert{ float:none; clear:left; margin:0; padding:0 5px; border-radius:0 0 3px 3px; max-width:100%; height:22px; line-height:1.8em; }
    .mode2 .item > .extra{ position:absolute; right:0; }


 tags-input .host {
    float: left;
    margin-bottom: 5px;
    margin-top: 0 !important;
    position: relative;
    width: 60%;
}   

#host
{
    width:100%;
}
tags-input .tags {
    -moz-appearance: textfield;
    background-color: #fff;
    border: 1px solid #dadada !important;
    box-shadow: none !important;
    cursor: text;
    overflow: hidden;
    padding: 1px;
    word-wrap: break-word;
}



.featured-links
{
    width:auto;display:inline-block;
}

.form-control {
    
    display: inline-table !important;
 
}

.tags-input .tags {
    
    width: 404px !important;
 
}
a {
  cursor:pointer;  
}
#listscroll2
{
    overflow-y:auto;
}

#LoaderDiv {
    background: url("../../img/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 125px;
    left: 40%;
    position: absolute;
    top: 30%;
    width: 135px;
    z-index: 999;
    
}



.nav-tabs .pagination {
    margin: 4px 0 0 5px;
    padding: 0;
}
.pagination li a {
    padding: 4px 14px !important;
}
.column-contents2.known-list {
    height: auto !important;
}